html {
    background-color: #869960;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 90%;
}

.container {
    max-width: 940px; /*width can be in pixels but must equal to the max-width*/
    margin-left: auto; /*Margin controls space around elements*/
    margin-right: auto;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #617140;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}

header p {
    margin: 0;
}

.content-area {
    border-top: 3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc;
}

.main-area {
    width: 66%; /*typically columns should add up to 100%*/
    float: left; /*Rest of the text/images will wrap around it*/
    padding-right: 40px;
    box-sizing: border-box; /*prevents padding from adding to the overall width*/
}

.sidebar {
    width: 34%;
    float: left;
    padding: 20px 40px;
    background-color: #e5e9dc;
    box-sizing: border-box;
    font-size: 85%;
}
footer {
    text-align: center;
    font-size: 85%;
    color: #999;
    padding-bottom: 20px;
    padding-top: 20px;
}

.fix {
    clear: both;
}

.group:before, 
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}